body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.title {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: Poppins, sans-serif;
}

.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
}